
<footer class="text-center py-4 text-white bg-footer  ">
    <div class="container py-5">
        <div class="row g-md-5 g-4">
            <div class="col-md-4">
                <div class="location">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="social">
                    <h3>AROUND THE WEB</h3>
                    <div class="icons d-flex justify-content-center align-items-center">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-facebook"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme <br> created by Route</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="text-white end text-center p-3 bg-end">
    <p>Copyright © Your Website 2021</p>
</div>