<nav #nav    class="navbar px-2  navbar-expand-lg main-color fixed-top  py-4 ">
    <div class="container  px-0">
      <a class="navbar-brand text-white font-systemUi fs-2 fw-bold" routerLink="home">START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto p-s m-1  me-sm-3 me-4">
          <li class="nav-item p-sm-0 py-2   me-4">
            <a class="nav-link text-white fw-bold font-systemUi" aria-current="page" routerLink="about" routerLinkActive="rounded-2 bg-main">ABOUT</a>
          </li>
          <li class="nav-item p-sm-0 py-2   me-sm-3 me-4">
            <a class="nav-link text-white fw-bold font-systemUi" aria-current="page" routerLink="portfolio" routerLinkActive="rounded-2 bg-main">PORTFOLIO</a>
          </li>
          <li class="nav-item p-sm-0 py-2 ">
            <a class="nav-link text-white fw-bold font-systemUi" aria-current="page" routerLink="contact" routerLinkActive="rounded-2 bg-main">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
