<div  class="contact  text-center mt-5   py-5">
    <div class="container vh-100    ">
        <h2 class="pt-5 mt-3 fw-bold text-center fs-1">CONTACT SECTION</h2>
        <div class="d-flex py-3  pb-4 justify-content-center align-items-center"> 
            <div class="befor bg-dark"></div>
            <i class="fa fa-star fw-bold  ms-3 me-3"></i>
            <div class="after bg-dark"></div>
        </div>
        <div class="row pt-4 gap-5">
            <div class="col-md-7 m-auto">
                <input class="py-2 w-100 rounded-2 border-0 border-bottom" type="text"  placeholder="userName" name="" id="">
            </div>
            <div class="col-md-7 m-auto">
                <input class="py-2  w-100 rounded-2 border-0 border-bottom" type="text"  placeholder="userAge" name="" id="">

            </div>
            <div class="col-md-7 m-auto">
                <input class="py-2  w-100 rounded-2 border-0 border-bottom" type="email"  placeholder="userEmail" name="" id="">

            </div>
            <div class="col-md-7 m-auto">
                <input class="py-2  w-100 rounded-2 border-0 border-bottom" type="password"  placeholder="userPassword" name="" id="">
            </div>
            <div class="col-md-7 m-auto">
                <div class=" ">
                    <button class=" text-white bg-main  btn d-flex border-0   btn-info">send Massage</button>
                </div>

            </div>
        </div>
    </div>
</div>
