<div class="home  text-center py-5 bg-main text-white mt-4">
    <img src="./assets/avataaars.svg" class="w-small mt-5 mb-5" alt="home_image">
    <h3 class="fw-bold fs-1">START FRAMEWORK</h3>
    <!-- <p class="  ms-1 me-1 position-relative star"> -->
        <div class="d-flex py-3 justify-content-center align-items-center"> 
            <div class="befor"></div>
            <i class="fa fa-star fw-bold  ms-3 me-3"></i>
            <div class="after"></div>
        </div>
        
    <!-- </p> -->
    <p>Graphic Artist - Web Designer - Illustrator</p>
</div>